<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhui.stumanage.dao.StudentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hanhui.stumanage.model.Student">
        <id column="stu_id" property="stuId" />
        <result column="stu_number" property="stuNumber" />
        <result column="stu_name" property="stuName" />
        <result column="stu_identity_card" property="stuIdentityCard" />
        <result column="stu_gender" property="stuGender" />
        <result column="stu_nation" property="stuNation" />
        <result column="stu_native_place" property="stuNativePlace" />
        <result column="stu_phone_number" property="stuPhoneNumber" />
        <result column="stu_political" property="stuPolitical" />
        <result column="stu_birth_date" property="stuBirthDate" />
        <result column="stu_home_address" property="stuHomeAddress" />
        <result column="stu_emergency_contact" property="stuEmergencyContact" />
        <result column="stu_emergency_contact_phone" property="stuEmergencyContactPhone" />
        <result column="stu_grade" property="stuGrade" />
        <result column="stu_faculty" property="stuFaculty" />
        <result column="stu_major" property="stuMajor" />
        <result column="stu_class" property="stuClass" />
        <result column="remarks" property="remarks" />
        <result column="createTime" property="createTime" />
        <result column="stu_status" property="status" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="CourseScoreResultMap" type="com.hanhui.stumanage.model.CourseStudent">
        <id column="id" property="id" />
        <result column="course_number" property="courseNumber" />
        <result column="stu_number" property="stuNumber" />
        <result column="score" property="score" />
        <result column="stu_name" property="stuName" />
        <result column="course_name" property="courseName" />
    </resultMap>

    <resultMap id="StudentScoreMap" type="com.hanhui.stumanage.model.Student"  extends="BaseResultMap">
        <association property="courseScore" resultMap="CourseScoreResultMap"></association>
    </resultMap>


    <select id="findStudendByClassNumber" parameterType="string" resultMap="BaseResultMap">
        select s.* from  stu_info s
          where s.stu_number in
            (
                select stu_number from  class_x_stu cs
                    where cs.class_number = #{clas                                                             sNumber}
            )
    </select>


    <select id="findByStuNumberOrStuName" parameterType="com.hanhui.stumanage.model.Student" resultMap="BaseResultMap">
        select * from  stu_info
            <where>
                <if test=" student.status != null  ">
                    and stu_status  = #{student.status}
                </if>
                <if test=" student.stuNumber != null and student.stuNumber != '' ">
                    and ( stu_number like concat('%',#{student.stuNumber},'%')
                            or stu_name like concat('%',#{student.stuNumber},'%')
                    )
                </if>

            </where>

    </select>


    <select id="findStudentByPage" parameterType="com.hanhui.stumanage.model.Student" resultMap="BaseResultMap">
        select
            s.stu_id,
            s.stu_number,
            s.stu_name,
            s.stu_identity_card,
            s.stu_gender,
            s.stu_nation,
            s.stu_native_place,
            s.stu_phone_number,
            s.stu_political,
            s.stu_birth_date,
            s.stu_home_address,
            s.stu_emergency_contact,
            s.stu_emergency_contact_phone,
            s.stu_grade,
            s.stu_faculty,
            m.major_name as stu_major,
            c.class_name as stu_class,
            s.remarks,
            s.createTime,
            s.stu_status
        from  stu_info s
         left join class_info c on s.stu_class = c.class_number
         left join major_info m on s.stu_major = m.major_number
        <where>
            <if test=" student.status != null  ">
                and s.stu_status  = #{student.status}
            </if>
            <if test=" student.stuNumber != null and student.stuNumber != '' ">
                and  s.stu_number like concat('%',#{student.stuNumber},'%')

            </if>
            <if test=" student.stuName != null and student.stuName != '' ">
                and  s.stu_name like concat('%',#{student.stuName},'%')
            </if>


        </where>

    </select>



</mapper>
